{% extends 'layout.html' %}
{% block title %}{{quiz_name}}{% endblock %}
{% block leftcol %}
  <p>
    <h1>{{quiz_name}}</h1>
  </p>
    <p class="lead">
      {{question}}
    </p>
{% endblock %}
{% block rightcol %}
  <p><a class="btn btn-info btn-lg show-answer" role="button" href="#">Show Answer</a></p>
  <div class="answer">
    <p>{{answer}}</p>
    <p>
      <a class="correct" href="/quiz/{{quiz_url_name}}?answer=correct">Got it!</a>
      <a class="incorrect" href="/quiz/{{quiz_url_name}}?answer=incorrect">Missed it...</a>
    </p>
  </div>
{% endblock %}
